# Price Prediction of used cars - Pakwheels

-----------

## Import Libraries

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Load Dataset

In [39]:
df = pd.read_csv('D:/DS Bootcamp/Machine Learning/Used cars Price prediction/Used-Cars-Price-Prediction-Pakwheels/Pakwheels_used_cars.csv')
df.head()

,title,location,model_year,fuel_type,transmission,km_driven,registered_in,color,assembly,engine_capacity,body_type,last_updated,price,url
0,Suzuki Mehran 2003,Multan Punjab,2003.0,Petrol,Manual,"170,000 km",Lahore,White,Local,800 cc,NaN,"May 07, 2025",PKR 5.8 Lakh,https://www.pakwheels.com/used-cars/suzuki-meh...
1,Mitsubishi Lancer GLX Automatic 1.6 2006,Lahore Punjab,2006.0,Petrol,Automatic,"119,080 km",Islamabad,Labrador Black Pearl,Imported,1600 cc,Sedan,"Apr 29, 2025",PKR 25 Lakh,https://www.pakwheels.com/used-cars/mitsubishi...
2,Suzuki Wagon R Stingray X 2013,"Abbot Road, Lahore Punjab",2013.0,Petrol,Automatic,"87,000 km",Punjab,Black,Imported,660 cc,Hatchback,"Apr 29, 2025",PKR 26.5 Lakh,https://www.pakwheels.com/used-cars/suzuki-wag...
3,Toyota Land Cruiser ZX 2019,Lahore Punjab,2019.0,Petrol,Automatic,"30,000 km",Un-Registered,White Pearl Crystal Shine,Imported,4600 cc,SUV,"Apr 28, 2025",PKR 4.63 crore,https://www.pakwheels.com/used-cars/toyota-lan...
4,Suzuki Alto VXL AGS 2021,"Rehmania Town, Faisalabad Punjab",2021.0,Petrol,Automatic,"15,800 km",Punjab,Silver,Local,660 cc,Hatchback,"Apr 30, 2025",PKR 27.7 Lakh,https://www.pakwheels.com/used-cars/suzuki-alt...

------

## Data Preprocessing

### Handle Data inconsisties

In [40]:
pd.set_option('display.max_rows', False)

From title column extract the brand name and store it to a new column called brand

In [41]:
df.insert(0, 'brand', df['title'].str.split().str[0])

From title remove the model yr bcz we already have year of model in dataset

In [43]:
df['title'] = df['title'].str.replace(r'\b\d{4}$', '', regex=True).str.strip()

Rename the title to model_name

In [44]:
df.rename(columns={'title':'model_name'},inplace=True)

Extract from location all the provinces and stored in new column province

In [49]:
df.insert(2, 'province', df['location'].str.split().str[-1])

Correct the dtype of model_year into int.

In [58]:
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')

Replace comma and km from the km_driven column

In [68]:
df['km_driven'] = df['km_driven'].replace({',': '', ' km': ''}, regex=True).str.strip()

Correct the dtype of km_driven into int

In [70]:
df['km_driven'] = pd.to_numeric(df['km_driven'], errors='coerce')

In [69]:
df['km_driven'].value_counts()

km_driven
100000    407
150000    225
200000    198
80000     158
90000     133
50000     125
120000    113
70000     108
85000     103
1         103
60000      99
10000      96
         ...
25467       1
103333      1
13900       1
119886      1
79          1
140725      1
110846      1
6708        1
108592      1
1122        1
145352      1
93994       1
Name: count, Length: 2182, dtype: int64

In [71]:
df

,brand,model_name,province,location,model_year,fuel_type,transmission,km_driven,registered_in,color,assembly,engine_capacity,body_type,last_updated,price,url
0,Suzuki,Suzuki Mehran,Punjab,Multan Punjab,2003,Petrol,Manual,170000.0,Lahore,White,Local,800 cc,NaN,"May 07, 2025",PKR 5.8 Lakh,https://www.pakwheels.com/used-cars/suzuki-meh...
1,Mitsubishi,Mitsubishi Lancer GLX Automatic 1.6,Punjab,Lahore Punjab,2006,Petrol,Automatic,119080.0,Islamabad,Labrador Black Pearl,Imported,1600 cc,Sedan,"Apr 29, 2025",PKR 25 Lakh,https://www.pakwheels.com/used-cars/mitsubishi...
2,Suzuki,Suzuki Wagon R Stingray X,Punjab,"Abbot Road, Lahore Punjab",2013,Petrol,Automatic,87000.0,Punjab,Black,Imported,660 cc,Hatchback,"Apr 29, 2025",PKR 26.5 Lakh,https://www.pakwheels.com/used-cars/suzuki-wag...
3,Toyota,Toyota Land Cruiser ZX,Punjab,Lahore Punjab,2019,Petrol,Automatic,30000.0,Un-Registered,White Pearl Crystal Shine,Imported,4600 cc,SUV,"Apr 28, 2025",PKR 4.63 crore,https://www.pakwheels.com/used-cars/toyota-lan...
4,Suzuki,Suzuki Alto VXL AGS,Punjab,"Rehmania Town, Faisalabad Punjab",2021,Petrol,Automatic,15800.0,Punjab,Silver,Local,660 cc,Hatchback,"Apr 30, 2025",PKR 27.7 Lakh,https://www.pakwheels.com/used-cars/suzuki-alt...
5,MG,MG ZS 1.5L,Punjab,"Johar Town, Lahore Punjab",2021,Petrol,Automatic,85556.0,Punjab,White,Imported,1490 cc,Compact SUV,"May 07, 2025",PKR 47 Lakh,https://www.pakwheels.com/used-cars/mg-zs-2021...
6,Suzuki,Suzuki Wagon R VXL,Islamabad,"G- 9, Islamabad Islamabad",2018,Petrol,Manual,78000.0,Islamabad,Solid White,Local,1000 cc,Hatchback,"May 04, 2025",PKR 23.7 Lakh,https://www.pakwheels.com/used-cars/suzuki-wag...
7,Toyota,Toyota Fortuner GR-S,Punjab,"Sharqi Colony, Vehari Punjab",<NA>,Diesel,Automatic,30000.0,Punjab,Super White,Local,2800 cc,SUV,"May 07, 2025",PKR 2.08 crore,https://www.pakwheels.com/used-cars/toyota-for...
8,Suzuki,Suzuki Wagon R VXL,Punjab,"G.T Road, Gujrat Punjab",2018,Petrol,Manual,114000.0,Lahore,White,Local,1000 cc,Hatchback,"Apr 24, 2025",PKR 21.5 Lakh,https://www.pakwheels.com/used-cars/suzuki-wag...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,Suzuki,Suzuki Mehran VXR Euro II,Islamabad,"G-15, Islamabad Islamabad",2019,Petrol,Manual,48000.0,Lahore,Graphite Grey,Local,796 cc,Hatchback,"Apr 28, 2025",PKR 16.25 Lakh,https://www.pakwheels.com/used-cars/suzuki-meh...
9992,Toyota,Toyota Corolla SE Saloon,KPK,"Kohat Township, Kohat KPK",<NA>,Petrol,Manual,300000.0,Lahore,White,Imported,1600 cc,Sedan,"May 02, 2025",PKR 9 Lakh,https://www.pakwheels.com/used-cars/toyota-cor...
9993,Toyota,Toyota Corolla Altis 1.8,Punjab,Gujranwala Punjab,2006,Petrol,Manual,135000.0,Lahore,Flaxen Mica,Local,1800 cc,Sedan,"Apr 26, 2025",PKR 32.5 Lakh,https://www.pakwheels.com/used-cars/toyota-cor...
9994,Daihatsu,Daihatsu Cuore CL Eco,Sindh,"DHA Defence, Karachi Sindh",2010,Petrol,Manual,185000.0,Karachi,Gold,Local,800 cc,Hatchback,"May 06, 2025",PKR 8.5 Lakh,https://www.pakwheels.com/used-cars/daihatsu-c...
9995,Suzuki,Suzuki Cultus VXRi,Sindh,"Falcon Housing PAF Malir, Karachi Sindh",2010,Petrol,Manual,93000.0,Karachi,Graphite Grey,Local,1000 cc,Hatchback,"Apr 28, 2025",PKR 10.5 Lakh,https://www.pakwheels.com/used-cars/suzuki-cul...
9996,Toyota,Toyota Aqua S,Sindh,"Tariq Road, Karachi Sindh",2014,Hybrid,Automatic,109000.0,Sindh,Blue Metallic,Imported,1500 cc,Hatchback,"Apr 15, 2025",PKR 35.25 Lakh,https://www.pakwheels.com/used-cars/toyota-aqu...
9997,Suzuki,Suzuki Swift DLX 1.3,Sindh,"Mehmoodabad, Karachi Sindh",2010,Petrol,Manual,69000.0,Sindh,Grey,Local,1300 cc,Hatchback,"May 01, 2025",PKR 16.2 Lakh,https://www.pakwheels.com/used-cars/suzuki-swi...
9998,Suzuki,Suzuki Cultus VXR (CNG),Punjab,"GT Road, Taxila Punjab",2007,CNG,Manual,10.0,Lahore,Solid White,Local,1000 cc,Hatchback,"May 05, 2025",PKR 10.5 Lakh,https://www.pakwheels.com/used-cars/suzuki-cul...
9999,Toyota,Toyota Prado TX 2.7,Punjab,"Johar Town, Lahore Punjab",2017,Petrol,Automatic,41000.0,Punjab,Super White,Imported,2700 cc,SUV,"Apr 26, 2025",PKR 2.25 crore,https://www.pakwheels.com/used-cars/toyota-pra...

In [60]:
for i in df:
    print(df[i].nunique())
    print(df[i].value_counts())
    print('==============================================')

56
brand
Toyota        2995
Suzuki        2942
Honda         1753
Daihatsu       556
Nissan         284
Hyundai        226
KIA            226
Mitsubishi     143
Mercedes       127
Haval           95
Changan         83
Audi            69
              ...
GUGO             1
Volvo            1
Golden           1
JW               1
Hummer           1
Fiat             1
SsangYong        1
Power            1
Deepal           1
Daehan           1
Datsun           1
Hino             1
Name: count, Length: 56, dtype: int64
==============================================
1267
model_name
Suzuki Alto VXR                               336
Toyota Corolla GLi 1.3 VVTi                   221
Suzuki Mehran VXR Euro II                     209
Honda Civic Oriel 1.8 i-VTEC CVT              206
Honda City 1.3 i-VTEC                         165
Suzuki Cultus VXR                             158
Suzuki Mehran VX                              142
Suzuki Alto VXL AGS                           142
Suzuki Wagon R VXL                            138
Toyota Corolla XLi VVTi                       128
Suzuki Mehran VXR                             127
Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC    115
                                             ...
Mitsubishi Pajero Mini VR                       1
BMW 7 Series i7 xDrive60 M Sports               1
Nissan Kicks                                    1
Toyota Yaris Sedan ATIV X MT 1.5                1
Daihatsu Terios 4x4                             1
Toyota Passo X Kutsurogi                        1
Chery Tiggo 4 Pro DEX Plus 1.5T                 1
Toyota Yaris Hatchback Hybrid X                 1
MG ZS                                           1
Honda Accord EX                                 1
Honda Fit                                       1
Audi A6 40 TFSI S-Line                          1
Name: count, Length: 1267, dtype: int64
==============================================
7
province
Punjab         5044
Sindh          2440
Islamabad      1625
KPK             776
Balochistan      56
Kashmir          43
Areas             1
Name: count, dtype: int64
==============================================
1433
location
Islamabad Islamabad                         404
Karachi Sindh                               395
Lahore Punjab                               329
Khalid Bin Walid Road, Karachi Sindh        192
Johar Town, Lahore Punjab                   180
Gulistan-e-Jauhar, Karachi Sindh            157
DHA Defence, Karachi Sindh                  148
Gulshan-e-Iqbal, Karachi Sindh              101
Rawalpindi Punjab                            99
Peshawar KPK                                 94
North Nazimabad, Karachi Sindh               91
DHA Defence, Lahore Punjab                   87
                                           ...
Civil Lines, Gujranwala Punjab                1
Jhand Punjab                                  1
Quetta Road, Quetta Balochistan               1
Mingora KPK                                   1
Mohalla Sufipura, Mandi bahauddin Punjab      1
Balakot KPK                                   1
Pak Avenue Colony, Sahiwal Punjab             1
Piran Ghaib, Multan Punjab                    1
Sawan Garden, Islamabad Islamabad             1
Islamabad Airport, Islamabad Islamabad        1
IBL Housing Scheme, Lahore Punjab             1
Peoples Colony, Attock Punjab                 1
Name: count, Length: 1433, dtype: int64
==============================================
33
model_year
2021    959
2022    770
2020    577
2018    560
2019    515
2017    496
2015    459
2014    423
2016    397
2007    386
2013    375
2012    331
       ...
2002     79
1998     71
1999     65
2001     64
2000     59
1995     54
1997     54
1993     40
1992     39
1994     39
1990     30
1991     28
Name: count, Length: 33, dtype: Int64
==============================================
6
fuel_type
Petrol      8488
Hybrid       900
Diesel       390
Electric     114
CNG           72
LPG           21
Name: count, dtype: int64
==============================================
2
transmission
Automatic    5933
Manual       4052
Name: count, dtype: int64
==============================================
2182
km_driven
100,000 km    407
150,000 km    225
200,000 km    198
80,000 km     158
90,000 km     133
50,000 km     125
120,000 km    113
70,000 km     108
85,000 km     103
1 km          103
60,000 km      99
10,000 km      96
             ...
25,467 km       1
103,333 km      1
13,900 km       1
119,886 km      1
79 km           1
140,725 km      1
110,846 km      1
6,708 km        1
108,592 km      1
1,122 km        1
145,352 km      1
93,994 km       1
Name: count, Length: 2182, dtype: int64
==============================================
65
registered_in
Islamabad            2222
Lahore               1984
Punjab               1425
Karachi              1404
Sindh                1327
Un-Registered        1109
Rawalpindi            111
Faisalabad             84
Multan                 67
Peshawar               63
Sialkot                28
Gujranwala             18
                     ...
Pak pattan sharif       1
Hazro                   1
Mian Wali               1
Haripur                 1
Iskandarabad            1
Liaqat Pur              1
Wazirabad               1
Nawabshah               1
Noshero Feroze          1
Arifwala                1
Pind Dadan Khan         1
Bhalwal                 1
Name: count, Length: 65, dtype: int64
==============================================
439
color
White                      2295
Silver                      906
Black                       881
Solid White                 627
Grey                        432
Super White                 304
Blue                        287
Taffeta White               277
Silky Silver                214
Graphite Grey               200
Silver Metallic             161
Attitude Black              161
                           ...
Moonlight Blue Metallic       1
Sky/Light Blue                1
Hamilton White                1
Midnight Black                1
Bluish  Silver                1
Brick Red                     1
Off Blue Metallic             1
Moon Rose Metallic            1
Mineral White Metallic        1
Crystal Silver Metallic       1
Metallic Golden               1
Brithis Green                 1
Name: count, Length: 439, dtype: int64
==============================================
2
assembly
Local       6256
Imported    3729
Name: count, dtype: int64
==============================================
130
engine_capacity
1000 cc       1716
660 cc        1511
1300 cc       1462
1500 cc       1160
1800 cc        956
800 cc         781
1600 cc        446
2000 cc        362
796 cc         234
2700 cc        173
1200 cc        165
2800 cc        132
              ...
85.0 kWh         1
1498 cc          1
105.0 kWh        1
82.0 kWh         1
7895 cc          1
510.0 kWh        1
2900 cc          1
10000 cc         1
4461 cc          1
1997 cc          1
659 cc           1
1070.0 kWh       1
Name: count, Length: 130, dtype: int64
==============================================
20
body_type
Hatchback            3631
Sedan                3108
SUV                   736
Crossover             601
Mini Van              158
Compact SUV           103
Double Cabin           90
MPV                    87
Van                    79
Compact sedan          77
Micro Van              70
Pick Up                63
Station Wagon          44
Mini Vehicles          34
Truck                  19
Coupe                  14
Convertible             8
High Roof               4
Single Cabin            4
Off-Road Vehicles       2
Name: count, dtype: int64
==============================================
34
last_updated
May 06, 2025    1004
May 05, 2025     827
May 07, 2025     794
May 04, 2025     757
May 03, 2025     755
May 01, 2025     670
May 02, 2025     584
Apr 28, 2025     537
Apr 30, 2025     525
Apr 27, 2025     495
Apr 25, 2025     482
Apr 29, 2025     482
                ...
Apr 21, 2025      20
Apr 13, 2025      20
Apr 19, 2025      20
Apr 09, 2025      19
Apr 10, 2025      17
Apr 11, 2025      17
Apr 20, 2025      16
Apr 12, 2025      11
Apr 06, 2025       1
Mar 31, 2025       1
Apr 08, 2025       1
Mar 25, 2025       1
Name: count, Length: 34, dtype: int64
==============================================
1349
price
Call for price    181
PKR 25 Lakh        89
PKR 26.5 Lakh      84
PKR 35 Lakh        80
PKR 22.5 Lakh      77
PKR 12.5 Lakh      77
PKR 28 Lakh        73
PKR 23.5 Lakh      73
PKR 24 Lakh        71
PKR 28.5 Lakh      69
PKR 26 Lakh        68
PKR 32 Lakh        68
                 ...
PKR 32.55 Lakh      1
PKR 71.25 Lakh      1
PKR 31.6 Lakh       1
PKR 2.32 crore      1
PKR 3.58 Lakh       1
PKR 1.44 crore      1
PKR 33.1 Lakh       1
PKR 80.25 Lakh      1
PKR 28.13 Lakh      1
PKR 17.1 Lakh       1
PKR 73.95 Lakh      1
PKR 6.49 crore      1
Name: count, Length: 1349, dtype: int64
==============================================
10000
url
https://www.pakwheels.com/used-cars/suzuki-mehran-2003-for-sale-in-multan-10059331         1
https://www.pakwheels.com/used-cars/mg-hs-2021-for-sale-in-islamabad-10008755              1
https://www.pakwheels.com/used-cars/suzuki-cultus-2007-for-sale-in-lahore-10003540         1
https://www.pakwheels.com/used-cars/toyota-aqua-2013-for-sale-in-islamabad-10044640        1
https://www.pakwheels.com/used-cars/daihatsu-cuore-2008-for-sale-in-karachi-10010886       1
https://www.pakwheels.com/used-cars/suzuki-mehran-2005-for-sale-in-lahore-10048108         1
https://www.pakwheels.com/used-cars/toyota-corolla-2022-for-sale-in-karachi-10023231       1
https://www.pakwheels.com/used-cars/suzuki-alto-2024-for-sale-in-abbottabad-10044359       1
https://www.pakwheels.com/used-cars/suzuki-alto-2024-for-sale-in-gujranwala-10039317       1
https://www.pakwheels.com/used-cars/suzuki-cultus-2016-for-sale-in-khairpur-10046944       1
https://www.pakwheels.com/used-cars/honda-city-2021-for-sale-in-islamabad-10044931         1
https://www.pakwheels.com/used-cars/toyota-corolla-2015-for-sale-in-karachi-10040564       1
                                                                                          ..
https://www.pakwheels.com/used-cars/honda-civic-2021-for-sale-in-karachi-10010928          1
https://www.pakwheels.com/used-cars/honda-civic-2005-for-sale-in-rawalpindi-10014546       1
https://www.pakwheels.com/used-cars/toyota-corolla-2007-for-sale-in-okara-10024642         1
https://www.pakwheels.com/used-cars/toyota-yaris-sedan-2022-for-sale-in-karachi-9947821    1
https://www.pakwheels.com/used-cars/toyota-corolla-2004-for-sale-in-charsadda-10049453     1
https://www.pakwheels.com/used-cars/suzuki-spacia-2021-for-sale-in-islamabad-10034920      1
https://www.pakwheels.com/used-cars/toyota-corolla-2013-for-sale-in-peshawar-10003473      1
https://www.pakwheels.com/used-cars/suzuki-cultus-2022-for-sale-in-gujranwala-10002499     1
https://www.pakwheels.com/used-cars/honda-vezel-2019-for-sale-in-karachi-10037749          1
https://www.pakwheels.com/used-cars/toyota-corolla-2011-for-sale-in-gujar-khan-10000160    1
https://www.pakwheels.com/used-cars/suzuki-wagon-r-2019-for-sale-in-lahore-10041644        1
https://www.pakwheels.com/used-cars/toyota-prado-2017-for-sale-in-lahore-10017343          1
Name: count, Length: 10000, dtype: int64
==============================================

In [72]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            9985 non-null   object
 1   model_name       9985 non-null   object
 2   province         9985 non-null   object
 3   location         9985 non-null   object
 4   model_year       8938 non-null   Int64
 5   fuel_type        9985 non-null   object
 6   transmission     9985 non-null   object
 7   km_driven        9985 non-null   float64
 8   registered_in    9985 non-null   object
 9   color            9985 non-null   object
 10  assembly         9985 non-null   object
 11  engine_capacity  9985 non-null   object
 12  body_type        8932 non-null   object
 13  last_updated     9985 non-null   object
 14  price            9985 non-null   object
 15  url              10000 non-null  object
dtypes: Int64(1), float64(1), object(14)
memory usage: 1.2+ MB

        model_year       km_driven
count       8938.0     9985.000000
mean   2013.425375    92642.012919
std       7.319762    88467.153004
min         1990.0        1.000000
25%         2008.0    37380.000000
50%         2015.0    80000.000000
75%         2020.0   123568.000000
max         2022.0  1000000.000000